CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build*
install*
*~
LibreDAQStudio/LibreDAQStudio.pro.user
firmware/BASE_Debug
firmware/BASE_Release
firmware/MINI_Debug
firmware/MINI_Release
firmware/Debug
*.ld
firmware/.vs
*.b#*
*.s#*
