CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build*
install*
*~
LibreDAQStudio/LibreDAQStudio.pro.user
firmware/BASE_Debug
firmware/BASE_Release
firmware/MINI_Debug
firmware/MINI_Release
firmware/Debug
firmware/.vs
*.b#*
*.s#*
*.job
schematics/libredaq-eagle-boards/LDAQ-BASE-1.1/LDAQ-BASE.pro
*.l#1
*.zip
*.l#2
*.l#3
firmware_ldaq/firmware_ldaq/Debug
firmware_ldaq/firmware_ldaq/Release
