# -------------------------------------------------------
# UDEV-style hotplug map for LibreDAQ devices to 
#   have proper permissions
#
# Install this file in /etc/udev/rules.d with: 
#
#  sudo cp 91-libredaq-udev.rules /etc/udev/rules.d/
#
# Note: Pkgs should install to /lib/udev/rules.d
# -------------------------------------------------------

# Write/read permissions
ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2044", MODE="0777"


